/**
  * @name Dark+
  * @author Derko
*/

@import url('https://raw.githubusercontent.com/derko510/Discord-Themes/refs/heads/main/Discord%20CSS%20Modified.css');


:root {
  --darkplus-bg: #212121;
  --darkplus-bg2: #302f2f;
  --darkplus-sec: #2f5dbe;
  --darkplus-links: #9cb3e4;
  --darkplus-home-icon: url(https://i.imgur.com/RvlNQ7k.png);
  --watermark-filter-invert: 0%;
  --watermark-filter-sepia: 50%;
  --watermark-filter-saturate: 3000%;
  --watermark-filter-hue-rotate: 210deg;
  --watermark-filter-brightness: 70%;
  --watermark-filter-contrast: 200%;
}
